<div class="login-container">
    <section class="login" id="login">
        <header>
            <h2>eXtraSlice</h2>
            <h4>Login</h4>
        </header>
        <form class="login-form" action="#" method="post">
            <input type="text" class="login-input" placeholder="Nombre" name="Nombre_cliente" required autofocus />
            <input type="text" class="login-input" placeholder="Direccion" name="Direccion" required />
            <input type="text" class="login-input" placeholder="Telefono" name="Telefono" required />
            <input type="text" class="login-input" placeholder="Email" name="Email" required />
            <input type="text" class="login-input" placeholder="Contraseña" name="PasswordCifrado" required />
            <input type="text" class="login-input" placeholder="Confirmar contraseña" name="Password" required />
            <div class="submit-container">
                <button type="submit" class="login-button">Registrarse</button>
            </div>
        </form>
    </section>
</div>
@section Style{
    <link rel="stylesheet" href="~/css/LoginStyle.css" />
}
@section Scripts {
    <script>
        var form = document.getElementById('login');
        var buttonE1 = document.getElementById('e1');

        buttonE1.addEventListener('click', function () {
            form.classList.add('error_1');
            setTimeout(function () {
                form.classList.remove('error_1');
            }, 3000);
        });
    </script>
}
